* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

.max-width-wrapper {
  padding: 48px 32px;
  background-color: white;
}

.intro-chunk {
  margin: 0 auto;
  width: 50%;
  max-width: 600px;
  padding: 0 24px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.title {
  font-size: 2rem;
}

section.max-width-wrapper {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
  height: 60%;
}

.card {
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2px 24px;
}

.card p {
  font-size: 1rem;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px 24px;
  margin-left: -32px;

  font-size: 1.5rem;
}
